/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.title-center {
    text-align: center;
}

#form2 {
    background-color: #ffa974;
    padding: 30px;
    margin-bottom: 20px;
    height: 100px;
}

#top_connect_bar {

    background-color: #f7f7f7;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: -25px;
    min-height: 55px;
}

#liste, #liste2 {

    background-color: #ffa974;
    padding: 30px;
    color: black;
    margin-bottom: 0px;

}

.erreur_field {

    text-align: center;
    margin-top: 35px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    opacity: 0.95;

}

.navbar-default {

    background-color: transparent !important;
    border-color: transparent !important;

}

.navbar-default .navbar-brand {
    color: white !important;
}

.navbar-header {

    float: none;
}

.navbar-nav {
    float: none !important;
}

.navbar-nav > li {
    float: none !important;
}

@font-face {
    font-family: lato-light;
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: lato-bold;
    src: url("../fonts/Lato-Bold.ttf");
}


#header {
    margin-top:2%;
    margin-bottom:2%;
    text-align:center;
}

#title {

    text-align:center;
    font-family: "Lato-Light",sans-serif;
    font-size: 2.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

section {
    background: #ff873d;
    color: white;
    font-family: 'lato-light';
}

#form{
    background-color:#ffa974; 
    padding:30px; 
    margin-bottom:20px;
}

#flex {
    display: flex;
}

#footer {
    border-top: 6px solid #9F9F9F;
    background: white;
    color: black;
    font-family: 'lato-light';
    padding: 15px;
    text-align: center;
    min-height: 100px;
}

.form {
    padding: 5%;
    padding-top: 3%;
}

.form .btn{
    
    font-size: 2vw;

}

#slogan {
    color: #9f9f9f;
    font-family: "lato-light",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    text-decoration: none;
    text-transform: none;
    word-spacing: 5px;
}


.form-horizontal .form-group {
    margin-right: 0!important;
    margin-left: 0!important;
}

#overlay
{
    position:fixed;
    right:0px;
    left:0px;
    width:100%; 
    height:50px;
    line-height:50px;
    top:50%;
    margin-top:-25px; /* moitié de la hauteur pour centrer */
    text-align:center;
    z-index: 60;
    background-color:#e7e7e7;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {

    #title {
        font-size: 25px;
    }

    .form .btn{
        
        font-size: 18px;
    }

    .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    #form {

        padding: 15px;
    }

    .col-sm-9 {

        margin: 0px!important;
        padding: 0px!important;
    }

}

@media only screen and (min-width: 1920px) {

    .form .btn{
    
    font-size: 30px;

    }

}

@media only screen and (max-width: 768px){

    #flex {

        display: block;

    }

    #title {

        font-size: 25px;
    }

    .form .btn{
    
        font-size: large;

    }

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}